@import url("../node_modules/bootstrap/scss/bootstrap");
@import 'custom';

html{
    position: relative;
    min-height: 100%;
}


main{
    margin-bottom:250px;
}


footer.footer{
    padding: 15px;
    position: absolute;
    bottom: 0;
    width: 100%;
}

